# The Solana public key that owns your Pascal account.
# Connect your wallet to the Pascal web app, deposit, and 
# paste the public key of that wallet.
PASCAL_OWNER_PUBLIC_KEY=

# Your Pascal trading key. Create one in the web app and paste it here.
# This key can place or cancel orders but not withdraw.
# See: https://docs.pascal.trade/#generate-a-trading-key-in-the-browser
PASCAL_TRADING_PRIVATE_KEY=